@model List<Learning.Models.UserRegistrationViewModel>
@{
    ViewBag.Title = "StudentView";
    Layout = "~/Views/Shared/_newLayout.cshtml";

}
<h2>Students Registration Details</h2>
<style>

    /* Basic styling */

    body {
        font-family: Arial, sans-serif;
        background-color: #f9f9f9;
        padding: 20px;
        background-image: url('../Image/GRADE.gif');
        background-repeat: no-repeat;
        background-size: 100% 300%;
    }

    .Register {
        border: 1px solid #ddd;
        padding: 10px;
        margin: 10px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

        .Register h3 {
            margin: 10px 0;
        }

        .Register p {
            color: #555;
        }
</style>

<body>

    @foreach (var StudentRegister in Model)
    {
      
        <div class="Register">


            <p>

                Student Name:@StudentRegister.StudentName<br />
                Student Email:@StudentRegister.Email<br />
                Student Gender:@StudentRegister.Gender<br />

                Student DateOfBirth:@StudentRegister.DateOfBirth<br />

                Student PhoneNumber:@StudentRegister.PhoneNumber<br />

                Student Address:@StudentRegister.Address<br />

               

            </p>
        </div>
            

    }
</body>

